@model Test2_Git.Models.AdminUserViewModels
@{
    ViewBag.Title = "Admin Page";
}
<div class="userview">
    @{Html.RenderPartial("ShowUserDetails");
    }
</div>
<p class="text-success">@ViewBag.StatusMessage</p>
<p class="text-error">@ViewBag.ErrorMessage</p>